// _article-block.scss

.article-block {
  color: $white;
  background: linear-gradient($biomimicry-magenta, $transparent);
  font-size: .8em;
  width: 24em;
  height: 24em;
  &:hover {
    background: $biomimicry-magenta-solid;
  }
  header {
    position: absolute;
    padding: 2em;
  }
  p {
    margin: 0;
    display: inline-block;
  }
  time {
    float: right;
  }
  h2 {
    margin: .0625em 0;
    font-size: 2.2em;
  }
  img {
    z-index: -10;
    max-width: none;
  }
  a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
}
