// _article-block.scss,
// .biomimicry, .nat-leader, .innov-ent, .green-design, .ma-program


.article-block {
  color: $white;
  font-size: .8em;
  height: 24em;
  border: .125em solid $grey-lighter;
  header {
    width: 100%;
    padding: 1em;
  }
  p {
    margin: 0;
    max-width: 60%;
    display: inline-block;
  }
  time {
    float: right;
  }
  h2 {
    margin: 0;
    font-size: 2em;
  }
  img {
    z-index: -10;
    max-width: none;
  }
  a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.biomimicry {
  background: linear-gradient($biomimicry-magenta, $transparent);
  &:hover {
    background: $biomimicry-magenta;
  }
}

.nat-leader {
  background: linear-gradient($nat-leader-blue, $transparent);
  &:hover {
    background: $nat-leader-blue;
  }
}

.eco-careers {
  background: linear-gradient($eco-careers-yellow, $transparent);
  &:hover {
    background: $eco-careers-yellow;
  }
}

.innov-ent {
  background: linear-gradient($innov-ent-green, $transparent);
  &:hover {
    background: $innov-ent-green;
  }
}

.green-design {
  background: linear-gradient($green-design-red, $transparent);
  &:hover {
    background: $green-design-red;
  }
}

.ma-program {
  background: linear-gradient($ma-program-purple, $transparent);
  &:hover {
    background: $ma-program-purple;
  }
}
