// _globals.scss

// bower:scss
// endbower

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
  font-family: $font-stack;
  color: $black;
  max-width: 960 / 16 * 1em;
  margin: 4em auto;
}
img {
  max-width: 100%;
}
.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}