// _globals.scss

// bower:scss
// endbower

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
  font-family: $font-stack;
  color: $black;
  max-width: 1136 / 16 * 1em;
  margin: 3em auto;
}
img {
  max-width: 100%;
}

.main-header {
  margin: 0 1em 4em 1em;
  div {
    float: right;
  }
  aside {
    float: left;
  }
  nav {
    float: right;
  }
}

.mcad-logo {
  position: relative;
  top: .9em;
  margin-right: 1em;
  background: url('../images/MCAD_logo_black_600px.png') no-repeat;
  background-size: 6em auto;
  width: 6em;
  height: 1.3em;
  opacity: .4;
  &:hover {
    opacity: initial;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  h2 {
    @include visuallyhidden;
  }
}

main {
  width: 100%;
  @include clearfix;
}

.lower-nav {
  @include clearfix;
  font-size: .9em;
  margin: 0 1em 4em 1em;
  padding-right: .5em;
  border-right: .125rem solid $black;
  a {
    text-decoration: none;
    &:hover {
      color: magenta;
    }
  }
}
