// _variables.scss

// Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

// Colors

$white: #fff;
$black: #333;
$grey-light: #ccc;
$grey-lighter: #eee;
$color-logo-sdo: #80FF00;
$transparent: RGBA(255, 255, 255, 0);
$biomimicry-magenta: RGBA(234, 0, 148, 1);
$nat-leader-blue: RGBA(10, 243, 252, 1);
$eco-careers-yellow: RGBA(214, 222, 0, 1);
$innov-ent-green: RGBA(29, 205, 138, 1);
$green-design-red: RGBA(239, 0, 0, 1);
$ma-program-purple: RGBA(213, 59, 240, 1);
