// _variables.scss

// Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

// Colors

$white: #fff;
$black: #333;
$grey-light: #ccc;
$grey-lighter: #eee;
$color-logo-sdo: #80FF00;
$transparent: RGBA(255, 255, 255, 0);
$biomimicry-magenta: RGBA(234, 0, 148, .65);
$biomimicry-magenta-solid: RGBA(234, 0, 148, 1);
