// bower:scss
// endbower

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: "franklin-gothic-urw", sans-serif;
}
img {
  max-width: 100%;
}
.muse-img {
  border: 1px solid #ccc;
}
.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
