// bower:scss
// endbower

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: "franklin-gothic-urw", sans-serif;
}
img {
  max-width: 100%;
}
.muse-img {
  border: 1px solid #ccc;
}
.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.main-nav ul {
  padding: 0;
}

.main-nav li {
  list-style-type: none;
  display: inline-block;
}

.main-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;
  color: #333;
  display: block;
  padding: .6em;
}

.main-nav li a:hover {
  border-bottom: .4em solid #333;
}

.sample-image {
  display: block;
}